#{extends 'Administration/template.html' /} #{set title:'Edit Dendrite'
/}

<div class="container-fluid span10">
    <div class="cachable-group">
        <span class="cachable-button btn btn-u">Informations dendrite</span>
        <div class="cachable">
            <form class="well form-inline" method="post"
                  action="@{Administration.updateDendrite}">
                <fieldset>
                    <legend>${dendrite.named}</legend>
                    #{field 'page'} 
                    <input id="${field.id}" type="hidden"
                                                  name="${field.name}" value="${field.value}" /> 
                    #{/field}
                    #{field 'dendrite.id'} 
                    <input id="${field.id}" type="hidden"
                                                  name="${field.name}" value="${field.value}" required /> 
                    #{/field}

                    #{field 'dendrite.code'}
                    <div
                        class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">Code :</label>
                        <div class="controls">
                            <input class="span12" id="${field.id}" type="text" name="${field.name}"
                                   value="${field.value}" required placeholder="dendrite_city" /> <span
                                   class="help-inline">${field.error}</span>
                        </div>
                    </div>
                    #{/field} 
                    #{field 'dendrite.named'}
                    <div
                        class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">Name :</label>
                        <div class="controls">
                            <input class="span12" id="${field.id}" type="text" name="${field.name}"
                                   value="${field.value}" required placeholder="City" /> <span
                                   class="help-inline">${field.error}</span>
                        </div>
                    </div>
                    #{/field} 
                    #{field 'dendrite.email'}
                    <div
                        class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">Email :</label>
                        <div class="controls">
                            <input class="span12" id="${field.id}" type="email" name="${field.name}"
                                   value="${field.value}" required placeholder="Email" /> <span
                                   class="help-inline">${field.error}</span>
                        </div>
                    </div>
                    #{/field} 
                    #{field 'dendrite.description'}
                    <div
                        class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">Description :</label>
                        <div class="controls">
                            <textarea class="span12" id="${field.id}" name="${field.name}"
                                      placeholder="Description">${field.value}</textarea>
                            <span class="help-inline">${field.error}</span>
                        </div>
                    </div>
                    #{/field}
                    <div class="form-actions">
                        <input type="submit" value="Update" class="btn btn-u" /> <a
                            href="@{Administration.dendrites()}" class="btn">Cancel</a>
                    </div>
                </fieldset>
            </form>
            <div class="span12" style="margin-left: 0px;">
                <div class="view view-tenth span12">
                    <img #{if dendrite?.photo == null} src="@{'/public/images/election.jpg'}" 
                        #{/if} 
                        #{else} 
                        src="${dendrite?.photo?.url}" 
                        #{/else} alt="Mon image" />
                        <div class="mask">
                        <h2>${dendrite?.named}</h2>
                        #{if dendrite?.photo}
                        <p>${dendrite?.photo?.description} </p>
                        #{/if}
                        #{else}
                        <p>${dendrite?.description} </p>
                        #{/else}
                        <a class="btn btn-u"  role="button" href="#loadPhotoDendriteModal"
                           data-toggle="modal"> Modifier
                        </a>
                    </div>
                </div>
                #{profilPhoto dendrite:dendrite,  description:dendrite?.photo?.description, as:'dendrite', page:(page < 1 ? 1:page) /}
            </div>
            <!--            <div align='center' class="span12" style="margin-left: 0px;">
                            <strong class="photo"><img #{if dendrite?.photo == null} src="@{'/public/images/election.jpg'}" #{/if} #{else} src="${dendrite?.photo?.url}" #{/else} alt="Mon image" /></strong>
                            <a class="btn btn-u"  role="button" href="#loadPhotoDendriteModal"
                               data-toggle="modal"> Modifier
                            </a>
                            #{profilPhoto dendrite:dendrite,  description:dendrite?.photo?.description, as:'dendrite', page:(page < 1 ? 1:page) /}
                        </div>-->
        </div>
    </div>


    <div class="cachable-group">
        <span class="cachable-button btn btn-u">Les membres</span>
        <div class="cachable active">
            <!--La pagination-->
            #{pagination page:(page < 1 ? 1:page), size:size, nbPages:nbPages, nbPagesMax:nbPagesMax /}
            <form class="well form-inline"
                  action="@{Administration.updateDendriteUsers}" method="POST">
                <fieldset>
                    <legend>Les membres de la dendrite de ${dendrite?.named}</legend>
                    #{field 'dendriteId'} 
                    <input type="hidden" name="${field.name}" value="${dendrite?.id}" /> 
                    #{/field}
                    #{field 'page'} 
                    <input type="hidden" name="${field.name}" value="${page}" /> 
                    #{/field} 
                    #{field 'userId[]'}
                    <table cellpadding="0" cellspacing="0" border="0"
                           class="table table-striped table-bordered">
                        <caption>
                            <h4>Les utilisateurs </h4>
                        </caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        #{list items:users, as:'user'}
                        <tbody>
                            <tr>
                                <td><a href="@{Users.user(user?.id)}">${user?.fullName()}</a></td>
                                <td><input name="${field.name}" type="checkbox"
                                           value="${user?.id}" #{if user?.dendrite?.id == dendrite?.id} checked='checked' #{/if}/></td>
                            </tr>
                        </tbody>
                        #{/list} 
                        #{/field}
                    </table>
                    <div class="form-actions">
                        <input type="submit" value="Update" class="btn btn-u" />
                    </div>
                </fieldset>
            </form>
            <!--La pagination-->
            #{pagination page:(page < 1 ? 1:page), size:size, nbPages:nbPages, nbPagesMax:nbPagesMax /}
        </div>
    </div>

    <div class="cachable-group">
        <span class="cachable-button btn btn-u">Les postes</span>
        <div class="cachable">
            <form class="well form-inline"
                  action="@{Administration.updateDendritePostes}" method="POST">
                <fieldset>
                    <legend>La dendrite de ${dendrite?.named}</legend>
                    #{field 'dendriteId'} 
                    <input type="hidden" name="${field.name}" value="${dendrite?.id}" /> 
                    #{/field} 
                    #{field 'posteId[]'}
                    <table cellpadding="0" cellspacing="0" border="0"
                           class="table table-striped table-bordered">
                        <caption>
                            <h4>Les utilisateurs </h4>
                        </caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        #{list postes, as:'poste'}
                        <tbody>
                            <tr>
                                <td><a href="#">${poste?.title}</a></td>
                                <td><input name="${field.name}" type="checkbox"
                                           value="${poste?.id}" #{if dendrite?.postes.contains(poste)} checked='checked' #{/if}/></td>
                            </tr>
                        </tbody>
                        #{/list} 
                        #{/field}
                    </table>
                    <div class="form-actions">
                        <input type="submit" value="Update" class="btn btn-u" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>