#{extends 'Administration/template.html' /} 
#{set title:'Edit user' /}
<div class="container-fluid span10">    
    <div class="cachable-group">
        <span class="cachable-button btn btn-u">Informations Personnelles</span>
        <div class="cachable active">
            <div class="body">
                #{editUserTag dendrites:dendrites, user:user, as:'updateAdmin'/}
            </div>
        </div>
    </div>

    <div class="cachable-group">
        <span class="cachable-button btn btn-u">Les rôles attribués</span>
        <div class="cachable">
            <form class="well form-inline"
                  action="@{Administration.updateUserRoles}" method="POST">
                <fieldset>
                    <legend>Les rôles</legend>
                    <input type="hidden" value=${user?.id} name="user_id" /> #{field
                    'roleCode[]'}
                    <table cellpadding="0" cellspacing="0" border="0"
                           class="table table-striped table-bordered">
                        <caption>
                            <h4>La liste des rôles </h4>
                        </caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        #{list roles, as:'role'}
                        <tbody>
                            <tr>
                                <td><a href="#">${role?.code}</a></td>
                                <td><input name="${field.name}" type="checkbox"
                                           value="${role?.code}" #{if user?.hasRole(role)} checked='checked' #{/if}/></td>
                            </tr>
                        </tbody>
                        #{/list} #{/field}
                    </table>
                    <div class="form-actions">
                        <input type="submit" value="Update" class="btn btn-u" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    <div class="cachable-group">
        <span class="cachable-button btn btn-u">Les mandats</span>
        <div class="cachable">
            #{if user.mandates?.size()}
            <table cellpadding="0" cellspacing="0" border="0"
                   class="table table-striped table-bordered">
                <caption>
                    <h4>La liste des mandats pour l'élection ${electionTitle}</h4>
                </caption>
                <thead>
                    <tr>
                        <th>Candidat</th><th>Poste</th><th>Dendrite</th><th>Election</th><th>Début du mandat</th><th>Fin du mandat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                #{list items:user?.mandates, as:'mandate'}
                <tbody>
                    <tr>
                        <td><a href="@{Users.user(mandate.user?.id)}">${mandate.user?.fullName()}</a>
                            <br /> <strong>${mandate?.description}</strong></td>
                        <td><a href="#" onclick="return false;">${mandate.poste?.title}</a></td>
                        <td><a href="#" onclick="return false;">${mandate.election?.code}</a></td>
                        <td><a href="@{Dendrites.dendrite(mandate.dendrite?.id)}">${mandate.dendrite?.named}</a></td>
                        <td><a href="#" onclick="return false;">${mandate.beginMandate.format()}</a></td>
                        <td><a href="#" onclick="return false;">${mandate.endMandate?.format()}</a></td>
                        <td><a class="pull-right"
                               href="@{Administration.deleteMandate(mandate.user?.id, mandate.poste?.id, mandate.dendrite?.id, mandate.election?.id)}"
                               onclick="return(confirm('Êtes vous sûr de vouloir supprimer cette dendrite ?'));"><button
                                    class="btn btn-danger">X</button> </a></td>
                        <td><a class="pull-right"
                               href="@{Administration.editMandate(mandate.user?.id, mandate.poste?.id, mandate.dendrite?.id, mandate.election?.id)}"><button
                                    class="btn btn-u">Edit</button> </a></td>
                    </tr>
                </tbody>
                #{/list}
            </table>
            #{/if}
            <a class="btn btn-u" href="@{Administration.editMandate(user.id, null, null, null)}">Nouveau mandat pour ${user.fullName()}</a>
        </div>
    </div>
</div>