#{extends 'Administration/template.html' /} #{set title:'Mise à jour
Rôle' /}

<div class="container-fluid span10">
    <div class="cachable-group">

        <div class="submenu">
            <span class="cachable-button btn btn-u">Information Poste</span>
            <div class="cachable active">
                <form class="well form-inline" method="POST"
                      action="@{Administration.updatePoste}">
                    <fieldset>
                        <legend>${poste?.title ? poste?.title : 'Nouveau poste'}</legend>
                        #{field 'poste.id'} <input id="${field.id}" type="hidden"
                                                   name="${field.name}" value="${poste?.id}" /> #{/field}

                        #{field 'poste.title'}
                        <div
                            class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                            <label class="control-label" for="${field.id}">&{'Titre'}</label>
                            <div class="controls">
                                <input class="span12" id="${field.id}" name="${field.name}"
                                       placeholder="&{'Titre'}" value="${field.value}"/>
                                <span class="help-inline"> ${field.error} </span>
                            </div>
                        </div>
                        #{/field}

                        #{field 'poste.description'}
                        <div
                            class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                            <label class="control-label" for="${field.id}">&{'Description'}</label>
                            <div class="controls">
                                <textarea class="span12" id="${field.id}" name="${field.name}"
                                          placeholder="&{'Description'}">${field.value}</textarea>
                                <span class="help-inline"> ${field.error} </span>
                            </div>
                        </div>
                        #{/field}
                        
                        #{field 'general'}
                        <div
                            class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                            <label class="control-label" for="${field.id}"><input name="${field.name}" id="${field.id}" type="checkbox" ${poste?.general ? 'checked' : ''}/>Cocher si le poste est celui de la Cellule</label>
                        </div>
                        #{/field}
                        <div class="form-actions">
                            <input type="submit" value="Valider" class="btn btn-u" /> <a
                                href="@{Administration.postes()}" class="btn">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    #{if poste?.id}
    <div class="cachable-group">
        <span class="cachable-button btn btn-u">Les rôles attribués</span>
        <div class="cachable">
            <form class="well form-inline"
                  action="@{Administration.updatePosteRoles}" method="POST">
                <fieldset>
                    <legend>Les rôles</legend>
                    <input type="hidden" value=${poste?.id} name="poste_id" /> #{field
                    'roleCode[]'}
                    <table cellpadding="0" cellspacing="0" border="0"
                           class="table table-striped table-bordered">
                        <caption>
                            <h4>La liste des rôles </h4>
                        </caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        #{list roles, as:'role'}
                        <tbody>
                            <tr>
                                <td><a href="#">${role?.code}</a></td>
                                <td><input name="${field.name}" type="checkbox"
                                           value="${role?.code}" #{if poste?.contains(role)} checked='checked' #{/if}/></td>
                            </tr>
                        </tbody>
                        #{/list} #{/field}
                    </table>
                    <div class="form-actions">
                        <input type="submit" value="Update" class="btn btn-u" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    #{/if}
</div>
