<!--{extends 'main.html' /}-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login Page - CPD</title>

        <meta name="description" content="User login page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- basic styles -->



        <!--<link rel="stylesheet" href="@{'/public/stylesheets/tuto.css'}">-->
        <!-- CSS Global Compulsory-->

        <link href="@{'/public/ace/assets/css/bootstrap.min.css'}" rel="stylesheet" />
        <link rel="stylesheet" href="@{'/public/unify/assets/plugins/bootstrap/css/bootstrap.min.css'}">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

        <!-- ace styles -->

        <link rel="stylesheet" href="@{'/public/ace/assets/css/ace.min.css'}" />
        <link href="@{'/public/ace/assets/css/ace-custom.min.css'}" rel="stylesheet" />
        <link rel="stylesheet" href="@{'/public/ace/assets/css/ace-rtl.min.css'}" />
        <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">

        <script type="text/javascript" src="@{'/public/bootstrap-datepicker/css/datepicker.css'}"></script>

        <link rel="stylesheet" href="@{'/public/unify/assets/css/style.css'}">
        <link rel="stylesheet" href="@{'/public/unify/assets/css/themes/headers/header2-blue.css'}">

        <link rel="stylesheet" href="@{'/public/metroking/style/bootstrap-datetimepicker.min.css'}">
        <link rel="stylesheet" href="@{'/public/unify/assets/plugins/font-awesome/css/font-awesome.css'}">

        <link rel="stylesheet" href="@{'/public/stylesheets/custom.css'}">

        <link rel="shortcut icon" href="@{'/public/images/logos/logo-favicon.png'}">



        <!--[if IE 7]>
          <link rel="stylesheet" href="{'/public/ace/assets/css/font-awesome-ie7.min.css'}" />
        <![endif]-->

        <!-- page specific plugin styles -->

        <!-- fonts -->


        <!--[if lte IE 8]>
          <link rel="stylesheet" href="{'/public/ace/assets/css/ace-ie.min.css'}" />
        <![endif]-->

        <!-- inline styles related to this page -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="{'/public/ace/assets/js/html5shiv.js'}"></script>
        <script src="{'/public/ace/assets/js/respond.min.js'}"></script>
        <![endif]-->
    </head>

    <body class="login-layout">
        <div class="main-container">
            <div class="main-content">
                <div id="log-alert" class="container">
                    #{if flash.success}
                    <div class="alert alert-success">
                        <button id="alert-success" type="button" class="close" data-dismiss="alert">×</button>
                        <strong>${flash.success}</strong>
                    </div>
                    #{/if} #{if flash.error}
                    <div class="alert alert-error">
                        <button id="alert-error" type="button" class="close" data-dismiss="alert">×</button>
                        <strong>${flash.error}</strong>
                    </div>
                    #{/if}
                    <div id="ajax-loader" class="ajax-loader" style="display: none; position: fixed; bottom: 5px; right: 5px;">
                        <img src="@{'/public/images/ajax-loader-circle.gif'}" alt=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">

                            <div class="space-6"></div>

                            <div class="position-relative">
                                <div id="login-box" class="login-box ${ass == 'login' ? 'visible' : '' } widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header blue lighter bigger">
                                                <i class="icon-coffee green"></i>
                                                Login
                                            </h4>

                                            <div class="space-6"></div>

                                            <form action="@{Users.loggedin}"
                                                  method="POST">
                                                <input type="hidden" name="formURL" value="${flash.fromURL}"/>
                                                <h3>Connection</h3>  
                                                #{field 'email'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <div class="controls">
                                                        #{if field.error}
                                                        <span class="help-inline">${field.error}</span>
                                                        #{/if}
                                                        <label class="block clearfix">
                                                            <span class="block input-icon input-icon-right">
                                                                <input class="input-xlarge" type="email" name="${field.name}" value="${flash.email}" placeholder="Email">
                                                                <i class="icon-user"></i>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                #{/field}
                                                #{field 'password'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <div class="controls">
                                                        #{if field.error}
                                                        <span class="help-inline">${field.error}</span>
                                                        #{/if}
                                                        <label class="block clearfix">
                                                            <span class="block input-icon input-icon-right">
                                                                <input class="input-xlarge" type="password" name="${field.name}" value="${field.value}" placeholder="Password">
                                                                <i class="icon-lock"></i>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                #{/field}
                                                <div class="space"></div>

                                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="icon-key"></i>
                                                    Login
                                                </button>
                                                <a class="width-30 pull-left btn btn-sm" href="@{Application.index}">&{'Annuler'}</a>
                                                <br/>
                                                <br/>
                                                #{if user?.id} 
                                                <a class="btn btn-sm" href="@{Users.resendConfirm(user?.id)}">Renvoyer le mail de confirmation</a>
                                                #{/if}
                                                <div class="space-2"></div>
                                            </form>


                                            <div class="social-or-login center" style="margin-top: 11%;">
                                                <span class="bigger-110">Ou connectez vous avec</span>
                                            </div>

                                            <div class="social-login center">
                                                <a href="@{Security.auth()}" class="btn btn-primary">
                                                    <i class="icon-facebook"></i>
                                                </a>

                                                <a class="btn btn-info">
                                                    <i class="icon-twitter"></i>
                                                </a>

                                                <a class="btn btn-danger">
                                                    <i class="icon-google-plus"></i>
                                                </a>
                                            </div>
                                        </div><!-- /widget-main -->

                                        <div class="toolbar clearfix">
                                            <div>
                                                <a href="#" onclick="show_box('forgot-box');
                                                        return false;" class="forgot-password-link">
                                                    <i class="icon-arrow-left"></i>
                                                    J'ai oublié mon mdp!
                                                </a>
                                            </div>

                                            <div>
                                                <a href="#" onclick="show_box('signup-box');
                                                        return false;" class="user-signup-link">
                                                    m'enrégistrer
                                                    <i class="icon-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- /widget-body -->
                                </div><!-- /login-box -->

                                <div id="forgot-box" class="forgot-box ${ass == 'forgot' ? 'visible' : '' } widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header red lighter bigger">
                                                <i class="icon-key"></i>
                                                Mot de passe oublié
                                            </h4>

                                            <div class="space-6"></div>

                                            <form action="@{Users.retrievePassword}"
                                                  method="POST">
                                                <fieldset>
                                                    <legend>&{'Mot de passe oublié'}</legend>

                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="email" name="email" class="form-control" placeholder="Email"  value="${flash.email}" required/>
                                                            <i class="icon-envelope"></i>
                                                        </span>
                                                    </label>
                                                    <div class="clearfix">
                                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                            <i class="icon-lightbulb"></i>
                                                            Valider!
                                                        </button>
                                                        <a class="width-30 pull-left btn btn-sm" href="@{Application.index}">&{'Annuler'}</a>
                                                    </div>
                                                </fieldset>
                                            </form>

                                        </div><!-- /widget-main -->

                                        <div class="toolbar center">
                                            <a href="#" onclick="show_box('login-box');
                                                        return false;" class="back-to-login-link">
                                                Retour à la connection
                                                <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div><!-- /widget-body -->
                                </div><!-- /forgot-box -->

                                <div id="signup-box" class="signup-box ${ass == 'signup' ? 'visible' : '' } widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header green lighter bigger">
                                                <i class="icon-group blue"></i>
                                                #{if user?.facebookId}
                                                    &{'Continuer votre inscription en créant votre mot de passe.'}
                                                #{/if}
                                                #{else}
                                                &{'Créer simplement votre profil sur CPD.'}
                                                #{/else}
                                            </h4>

                                            <div class="space-6"></div>

                                            <form action="@{Users.register}" method="POST"
                                                  accept-charset="UTF-8">
                                                <input id="from_url" type="hidden" name="fromURL" value="${flash.fromURL}" />
                                                <input id="fbtk" type="hidden" name="user.facebookToken" value="${user?.facebookToken}" />
                                                <input id="fbid" type="hidden" name="user.facebookId" value="${user?.facebookId}" />
                                                #{if user}
                                                <legend>&{'Créer simplement votre profil sur CPD.'}</legend>
                                                #{/if} 

                                                #{field 'user.id'}
                                                <input id="${field.id}" type="hidden" name="${field.name}"
                                                       value="${user?.id}"  /> 
                                                #{/field} 

                                                #{field 'civilityCode'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <!--<label for="${field.id}">Civilité</label>-->
                                                    #{if field.error}
                                                    <span class="help-inline">${field.error}</span>
                                                    #{/if}
                                                    <label class="block clearfix">
                                                        <span>
                                                            <select class="form-control" id="${field.id}" name="${field.name}"> 
                                                                #{list models.CivilityEnum.civilities(), as:'civility'}
                                                                <option value="${civility?.code}" #{if user?.civility?.code == civility?.code } selected="selected" #{/if}>${civility?.libCourt}</option> 
                                                                #{/list}
                                                            </select>
                                                        </span>
                                                    </label>
                                                </div>
                                                #{/field}
                                                #{field 'user.firstName'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <!--<label for="${field.id}">&{'Prénom'}</label>-->
                                                    #{if field.error}
                                                    <span class="help-inline">${field.error}</span>
                                                    #{/if}
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input class="form-control" id="${field.id}" type="text" name="${field.name}"
                                                                   value="${user?.firstName}" placeholder="&{'Prénom'}" required /> 
                                                            <i class="icon-user"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                                #{/field} 
                                                #{field 'user.lastName'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <!--<label for="${field.id}">&{'Nom de famille'}</label>-->
                                                    #{if field.error}
                                                    <span class="help-inline">${field.error}</span>
                                                    #{/if}
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input class="form-control" id="${field.id}" type="text" name="${field.name}"
                                                                   value="${user?.lastName}" placeholder="&{'Nom de famille'}" required /> 
                                                            <i class="icon-user"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                                #{/field}

                                                #{field 'user.birthday'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <!--<label for="naissance">Date de naissance</label>-->
                                                    #{if field.error}
                                                    <span class="help-inline">${field.error}</span>
                                                    #{/if}
                                                    <div class="datepicker input-append">
                                                        <!--<input data-format="yyyy-MM-dd" type="text">-->
                                                        <label class="block clearfix">
                                                            <input type="text" name="${field.name}"
                                                                   placeholder="yyyy-MM-dd" required 
                                                                   value="${user?.birthday?.format('yyyy-MM-dd')}" data-format="yyyy-MM-dd"
                                                                   title="Entrez la date au format aaaa-mm-jj"/>
                                                            <span class="add-on">
                                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                                                </i>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                #{/field} 

                                                #{field 'user.email'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <!--<label for="${field.id}">&{'Email'}</label>-->
                                                    #{if field.error}
                                                    <span class="help-inline">${field.error}</span>
                                                    #{/if}
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input class="form-control" id="${field.id}" type="email" name="${field.name}"
                                                                   value="${user?.email}" placeholder="&{'Email'}" required /> 
                                                            <i class="icon-envelope"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                                #{/field}
                                                #{field 'user.password'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <!--<label for="${field.id}">&{'Mot de passe'}</label>-->
                                                    #{if field.error}
                                                    <span class="help-inline">${field.error}</span>
                                                    #{/if}
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input class="form-control" id="${field.id}" type="password" name="${field.name}"
                                                                   value="${user?.password}" placeholder="&{'Mot de passe'}" required />
                                                            <i class="icon-lock"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                                #{/field} 
                                                #{field 'verifyPassword'}
                                                <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                    <!--<label for="${field.id}">&{'Confirmer pwd'}</label>-->
                                                    #{if field.error}
                                                    <span class="help-inline">${field.error}</span>
                                                    #{/if}
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input class="form-control" id="${field.id}" type="password" name="${field.name}" 
                                                                   placeholder="&{'Confirm Password'}" #{if _as == 'signup'} required #{/if} />
                                                                   <i class="icon-retweet"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                                #{/field}
                                                #{field 'boursier'}
                                                <label class="block clearfix">
                                                    <input class="cochable" type="checkbox" name="${field.name}" #{if user?.boursier == true} checked='checked' #{/if} /> 
                                                           Cochez la case si vous êtes boursier.
                                                </label>
                                                #{/field}
                                                <div class="controls cochable-effect">
                                                    #{field 'dendriteCode'}
                                                    <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                        <!--<label for="${field.id}">&{'Dendrite'}</label>--> 
                                                        #{if field.error}
                                                        <span class="help-inline">${field.error}</span>
                                                        #{/if}
                                                        <label class="block clearfix">
                                                            <span class="block input-icon input-icon-right">
                                                                <select  class="form-control" id="${field.id}" name="${field.name}"> 
                                                                    <option>Dendrite</option>
                                                                    #{list dendrites, as:'dendrite'}
                                                                    <option value="${dendrite?.code}" #{if user?.dendrite?.code == dendrite?.code } selected="selected" #{/if}>${dendrite?.named}</option> 
                                                                    #{/list}
                                                                </select>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    #{/field} 
                                                    #{field 'user.promotion'}
                                                    <div class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
                                                        <!--<label for="${field.id}">&{'Promotion'}</label>-->
                                                        #{if field.error}
                                                        <span class="help-inline">${field.error}</span>
                                                        #{/if}
                                                        <label class="block clearfix">
                                                            <span class="block input-icon input-icon-right">
                                                                <input class="form-control" type="number" name="${field.name}"
                                                                       value="${user?.promotion}" placeholder="Promotion" />
                                                            </span>
                                                        </label>
                                                    </div>
                                                    #{/field}
                                                </div>
                                                <div class="clearfix">
                                                    <button type="submit" class="width-65 pull-right btn btn-sm btn-success">
                                                        Valider
                                                        <i class="icon-arrow-right icon-on-right"></i>
                                                    </button>

                                                    <a class="width-30 pull-left btn btn-sm" href="@{Application.index}">&{'Annuler'}</a>
                                                </div>
                                            </form>
                                            <!--</div>-->




                                        </div>

                                        <div class="toolbar center">
                                            <a href="#" onclick="show_box('login-box');
                                                        return false;" class="back-to-login-link">
                                                <i class="icon-arrow-left"></i>
                                                Retour à la connection
                                            </a>
                                        </div>
                                    </div><!-- /widget-body -->
                                </div><!-- /signup-box -->
                            </div><!-- /position-relative -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div><!-- /.main-container -->

        <div class="container-fluid span12">
            <div id="helpbar" class="hidden-phone">
                <a class="btn btn-u" role="button" href="#contactModal"
                   data-toggle="modal" style="position: fixed; bottom: 15px; left: 15px;"><strong>Feedback</strong></a>
            </div>
            <!-- Modals  -->
            <div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                #{contactTag connected:connected /}
            </div>
        </div>
        <!-- basic scripts -->

        <!--[if !IE]> -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

        <!-- <![endif]-->

        <!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

        <!--[if !IE]> -->

        <script type="text/javascript">
                                                    window.jQuery || document.write("<script src='/public/ace/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
<script type="text/javascript">
window.jQuery || document.write("<script src='/public/ace/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->



        <script type="text/javascript" src="@{'/public/javascripts/jquery.tools.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jcode.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jcode-ajax.js'}"></script>
        <script type="text/javascript" src="@{'/public/unify/assets/plugins/bootstrap/js/bootstrap.min.js'}"></script>
        <script src="@{'/public/metroking/js/bootstrap-datetimepicker.min.js'}"></script>  <!--Date picker -->
        <script src="@{'/public/metroking/js/fullcalendar.min.js'}"></script>  <!-- Full Google Calendar - Calendar -->
        <script src="@{'/public/metroking/js/custom.js'}"></script>  

        <script type="text/javascript">
                                                    if ("ontouchend" in document)
                                                        document.write("<script src='/public/ace/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        </script>

        <!-- inline scripts related to this page -->

        <script type="text/javascript">
            function show_box(id) {
                jQuery('.widget-box.visible').removeClass('visible');
                jQuery('#' + id).addClass('visible');
            }

            function dismiss(id) {
                jQuery('#' + id).hide();
            }
        </script>
    </body>
</html>
