#{extends 'main.html' /} 
#{set title:messages.get("password.reset") +' - CPD' /}
<div class="breadcrumbs margin-bottom-50">
    <div class="container">
        <h1 class="color-green pull-left">Mot de passe oublié</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<div class="container">
    <form class="log-page" action="@{Users.retrievePassword}"
          method="POST">
        <fieldset>
            <legend>&{'Mot de passe oublié'}</legend>

            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="input-xlarge" type="email" name="email" value="${flash.email}" placeholder="Email" required />
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-u"
                       value="Valider" /> <a href="@{Users.login()}"
                       class="btn">&{'Annuler'}</a>
            </div>
        </fieldset>

    </form>
</div>