<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#{extends 'main.html' /} #{set title: "Modification Mot de passe -
Djamma" /}
<div id="main">
    #{form @Users.passwordUpdated(), method:'POST', enctype:'multipart/form-data'}
    #{field 'user.id'} <input id="${field.id}" type="hidden"
                              name="${field.name}" value="${field.value}" /> 
    #{/field} 
    <fieldset>
        <legend>&{'password.reset'}</legend>
        <p>Veuillez renseigner votre nouveau mot de passe ${user.firstname}</p>
        #{field 'user.password'}
        <div
            class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
            <label class="control-label" for="${field.id}">&{'Password'}</label>

            <div class="controls">
                <div class="input-append">

                    <input id="${field.id}" type="password" name="${field.name}"
                           value="" placeholder="&{'Password'}" /> <a href="#"
                           rel="tooltip" title="&{'password.help'}" class="add-on">?</a>
                </div>

                <span class="help-inline">${field.error}</span>
            </div>
        </div>
        #{/field} 
        #{field 'verifyPassword'}

        <div
            class="control-group  ${errors.forKey(field.name) ? 'error' : ''}">
            <label class="control-label" for="${field.id}">&{'verifyPassword'}</label>
            <div class="controls">
                <input id="${field.id}" type="password" name="${field.name}"
                       value="${field.value}" placeholder="&{'password.confirm'}" /> 
                <span class="help-inline">${field.error}</span>
            </div>
        </div>
        #{/field}

        <div class="form-actions">
            <input type="submit" value="&{'Signup'}" class="btn btn-u" />
            <a href="@{Application.index()}" class="btn">&{'Cancel'}</a>
        </div>
    </fieldset>
    #{/form}
</div>