<div class="ajaxable-user container-fluid tabbable span9">
    #{if flash.success}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>${flash.success}</strong>
    </div>
    #{/if} #{if flash.error}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>

        <strong>${flash.error}</strong>

    </div>
    #{/if}
    <ul class="nav nav-tabs my-left-navbar">
        <li class="#{if act == 'info'} active #{/if}"><a href="#info" data-toggle="tab">Info</a></li>
        <li class="#{if act == 'adress'} active #{/if}"><a href="#adress" data-toggle="tab">Adresse</a></li>
        <li  class="#{if act == 'cv'} active #{/if}"><a href="#cv" data-toggle="tab">CV</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane #{if act == 'info'} active #{/if}" id="info">
            <div class="body">
                #{editUserTag dendrites:dendrites, user:user, as:'update', act:act/}
            </div>

        </div>
        <div class="tab-pane #{if act == 'adress'} active #{/if}" id="adress">
            <form id="form-address" class="form-address well form-horizontal" method="POST" action="@{Cvs.updateAdresse}">
                <fieldset>
                    <legend>L'adresse actuelle</legend>
                    <input type="hidden" name="act" value="adress"/>
                    <input type="hidden" name="adresse.id" value="${adresse?.id}"/>
                    <input type="hidden" value="${user?.id}" name="user_id" />
                    #{field 'adresse.adress'}
                    <div
                        class="control-group  ${errors.forKey(field?.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">&{'Adresse :'}</label>
                        <div class="controls">
                            <input id="${field.id}" type="text" name="${field.name}"
                                   value="${user?.cv?.adresse?.adress}" placeholder="&{'Adresse'}" required /> 
                            <span class="help-inline">${field.error}</span>

                        </div>
                    </div>
                    #{/field} 
                    #{field 'adresse.zipCode'}
                    <div
                        class="control-group  ${errors.forKey(field?.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">&{'Code postal :'}</label>
                        <div class="controls">
                            <input id="${field.id}" type="text" name="${field.name}"
                                   value="${user?.cv?.adresse?.zipCode}" placeholder="&{'Code postal'}" required /> 
                            <span class="help-inline">${field.error}</span>

                        </div>
                    </div>
                    #{/field}
                    #{field 'adresse.ville'}
                    <div
                        class="control-group  ${errors.forKey(field?.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">&{'Ville :'}</label>
                        <div class="controls">
                            <input id="${field.id}" type="text" name="${field.name}"
                                   value="${user?.cv?.adresse?.ville}" placeholder="&{'Ville'}" required /> 
                            <span class="help-inline">${field.error}</span>

                        </div>
                    </div>
                    #{/field} 
                    #{field 'adresse.pays'}
                    <div
                        class="control-group  ${errors.forKey(field?.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">&{'Pays :'}</label>
                        <div class="controls">
                            <input id="${field.id}" type="text" name="${field.name}"
                                   value="${user?.cv?.adresse?.pays}" placeholder="&{'Pays'}" required /> 
                            <span class="help-inline">${field.error}</span>

                        </div>
                    </div>
                    #{/field}
                    #{field 'adresse.phone'}
                    <div
                        class="control-group  ${errors.forKey(field?.name) ? 'error' : ''}">
                        <label class="control-label" for="${field.id}">&{'Phone :'}</label>
                        <div class="controls">
                            <input id="${field.id}" type="text" name="${field.name}"
                                   value="${user?.cv?.adresse?.phone}" placeholder="&{'0612345789'}" /> 
                            <span class="help-inline">${field.error}</span>

                        </div>
                    </div>
                    #{/field}
                    <div class="form-actions">
                        <input type="submit" value="&{'Valider'}" class="btn btn-u" />
                        <a id="user-adress-delete" style="display: ${!user?.cv?.adresse ? 'none' : ''}" href="@{Cvs.deleteAdresse(user?.cv?.id, 'adress')}" class="btn btn-danger" onclick="return(confirm('Confirmer la suppression de cette Adresse.'));">&{'X'}</a>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane #{if act == 'cv'} active #{/if}" id="cv">
            #{cvEditTag cv:user?.cv, act:act, months:months, years:years, languages:languages,levels:levels /}
        </div>
    </div>
</div>
