#{extends 'Users/template.html' /}
#{set title:user?.fullName() /}

<div id="white-part" class="container-fluid span8" style="margin-left: 20px;">
    <div class="profile-info span12">
        <div align='center' class="span2">
            <strong class="photo"><img #{if user?.photo == null} src="@{'/public/images/election.jpg'}" #{/if} #{else} src="${user?.profileUrl()}" #{/else} alt="Mon image" /></strong>
            #{if connected && (connected.id == user?.id)}
            <a class="btn btn-u"  role="button" href="#loadPhotoModal"
               data-toggle="modal"> Modifier
            </a>
            #{profilPhoto user:connected,  description:user?.photo?.description /}
            #{/if}
        </div>
        <div class="span10" style="margin-bottom: 0px;">
            <div class="row span12">
                <div class="span8">
                    <strong><h2>${user?.fullName()}</h2></strong>
                    <ul class="unstyled">
                        <li><i class="icon-home color-green"></i>${user?.cv?.adresse?.adress}, ${user?.cv?.adresse?.zipCode} ${user?.cv?.adresse?.ville}</li>
                        <li><i class="icon-phone-sign color-green"></i>${user?.cv?.adresse?.phone}</li>
                        <li><i class="icon-globe color-green"></i>${user?.cv?.adresse?.pays}</li>
                    </ul>
                </div>
                #{if connected && (connected.id == user?.id)}
                <div class="span2 pull-right">
                    <a class="btn btn-u" href="@{Users.editUser(user?.id, 'cv')}">&{'+Modifier'}</a>
                </div>
                #{/if}
            </div>
        </div>
    </div>
    #{cvTag cv:user?.cv /}
</div>