#{extends 'Announces/template.html' /}
#{set title:'Edit' /}

#{form @editAnnounce()}
	<fieldset>
		<legend>Edition Annonce</legend>
		<h3>Titre</h3>
		#{field 'announce.id'}
        <input id="${field.id}" type="hidden" name="${field.name}"
               value="${announce?.id}"  /> 
        #{/field}
        #{field 'announce.title'}
        <input type="text" name="${field.name}" 
            value="${announce?.title}" placeholder="Titre de l'annonce"/>
        <span class="error">#{error 'post.title' /}</span>
        #{/field}
        
		
		#{field 'announce.content'}
        <label>Contenu</label>
        <textarea name="${field.name}" style="width: 400px; height: 50px;">${announce?.content} </textarea>
        <span class="error">#{error 'announce.content' /}</span>
        #{/field}
		<p></p>	
		<button type="submit" class="btn">Publier</button>
	</fieldset>
#{/form}