
<!--Receives dendrite-->
#{extends 'Dendrites/template.html' /} 
#{set title:'Dendrite - ' + dendrite?.named /}
<div class="container-fluid">
    <div class="row-fluid span12">
        <div class="span8">
            <h2 id="pCenter">Bienvenue à la dendrite de ${dendrite?.named}</h2>
            <div class="row-fluid blog-page blog-item">
                #{if (dendrite?.events.size() > 0 || dendrite?.announces.size() > 0)}
                #{if (dendrite?.events.size() > 0)}
                <h2>Evènements</h2>
                #{eventsTag events:dendrite?.events, as:'dendrite'/}
                #{/if}
                #{if (dendrite?.announces.size() > 0)}
                <h2>Annonces</h2>
                #{announcesTag announces:dendrite?.announces, as:'dendrite' /}
                #{/if}
                #{/if}
                #{else}
                <h2>Les membres</h2>
                #{list items:dendrite?.users(), as:'user'}
                <div class="posts margin-bottom-20">
                    <dl class="dl-horizontal">
                        <dt><a href="@{Users.user(user?.id)}">
                            <img #{if user?.photo == null}  
                                src="@{'/public/images/election.jpg'}" #{/if} 
                                #{else} src="${user?.profileUrl()}" #{/else} alt="Mon image" alt="" />
                        </a>
                        <dd>
                            <a id="themecolor" href="@{Users.user(user?.id)}">${user?.fullName()}</a>
                            <hr style="margin-bottom: 0px;"/>
                            <span>${user?.dendrite?.named}</span> <span> ${user?.promotion} </span><br/>
                            <span>${user?.cv?.resume}</span>
                        </dd>
                    </dl>
                </div>
                #{/list}
                #{/else}
            </div><!--/blog-->
        </div>
        <div class="span3">
            #{recents /}
        </div><!--/span3-->
        <!--/span2-->
    <!--</div>-->
<!--</div>-->
