#{extends 'Dendrites/template.html' /} 
#{set title:'Dendrites - membres' /}
<div class="container-fluid span12">
    <div class="row-fluid">    
        <div class="span9">
            <h2 id="pCenter">Bienvenue à la dendrite de ${dendrite?.named}</h2>
            #{pagination page:(page < 1 ? 1:page), size:size, nbPages:nbPages, nbPagesMax:nbPagesMax /}
            #{usersTag users:users /}
            #{pagination page:(page < 1 ? 1:page), size:size, nbPages:nbPages, nbPagesMax:nbPagesMax /}
        </div>
        <div class="span3">
            <!-- Search Bar -->
            <form action="@{Articles.search}">
                <div class="headline"><h3>Trouver quelque chose</h3></div>
                <div class="input-append  margin-bottom-20">
                    <input type="text" class="span9" name="q">
                    <button type="submit" class="btn-u">Search</button>
                </div>
            </form>

            <!-- Posts -->
            <div class="posts margin-bottom-20">
                <div class="headline"><h3>Les articles récents</h3></div>
                #{if recents?.size()}
                #{list items:recents, as:'a'}
                <dl class="dl-horizontal">
                    <dt><a href="@{Users.user(a?.author.id, a?.author.username())}"><img src="${a?.author?.smallUrl()}" alt="" /></a></dt>
                    #{if (a.myType() == 'article')}
                    <dd>
                        <a href="@{Articles.article(a?.id, a?.title())}"><div class="zoneTexte">${a?.title}</div></a>
                    </dd>
                    #{/if}
                    #{if (a.myType() == 'event')}
                    <dd>
                        <a href="@{Events.event(a?.id, a?.title())}"><div class="zoneTexte">${a?.title}</div></a>
                    </dd>
                    #{/if}
                    #{if (a.myType() == 'announce')}
                    <dd>
                        <a href="@{Announces.announce(a?.id, a?.title())}"><div class="zoneTexte">${a?.title}</div></a>
                    </dd>
                    #{/if}
                </dl>
                #{/list}
                #{/if}
                #{else}
                <p>Aucun article</p>
                #{/else}
            </div><!--/posts-->

        </div>
        <!--/span2-->
    </div>
</div>