<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<div class="media">
    <a class="pull-left" href="@{Users.user(_comment?.author?.id)}">
        <img class="media-object" src="${_comment?.author?.photo?.smallUrl()}" alt="" />
    </a>
    <div class="media-body">
        <h4 class="media-heading">${_comment?.author?.fullName()} 
            <span class="pull-right"> ${_comment?.created.since()} 
            	#{if _connected?.isMine(_comment)}
                	<a class="btn btn-danger" href="@{Announces.deleteCommentFromAnnounce(_announce.id,_comment.id)}">X</a>
                #{/if}
            </span>
        </h4>
        <p>${_comment?.content}</p>
    </div><!--/media-->
</div>