<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<span class="maxSize" style="display: none;">${_maxSize}</span>
#{if (_commentSize < _maxSize)}
<a class="btn btn-u" style="text-align: center;"  
   onclick="return getMoreComment('${_article?.id}', '${_type}', '${_commentPage ? (_commentPage + 1) : 1}');">
    ${(_maxSize - _commentSize)} Comment${(_maxSize - _commentSize)?.pluralize()} restant${(_maxSize - _commentSize)?.pluralize()}</a>
#{/if}
#{list items:_comments, as:'comment'}
#{commentTag comment:comment.comment, article:_article, as:_type, connected:_connected /}
#{/list}
