<html>
    <body>
        <div id="confirm">
            #{if _caller?.user}
            Bonjour ${_caller?.user.firstName},
            Pour finaliser votre inscription ou vérifier votre email de redirection,<br/>
            Veuillez confirmer votre email en cliquant sur le lien suivant.
            <a href="@@{Users.confirm(_caller?.user.confirmToken, _caller?.user.confirmRedirect)}">Confirmer mon email</a><br/>
            L'équipe <a href="@@{Application.index}">CPD</a> vous remercie de votre intérêt.
            #{/if}
        </div>
    </body>
</html>