
<form method="POST" action="@{Application.sendFeedback}">
    <div class="ajaxable">  
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×</button>
            <h3>Renseigner vos informations et le message.</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span6">
                    <label class="">Nom complet</label>
                    <input name="name" type="text" class="span12" value="${_connected?.fullName()}" required />
                    <label>Email Address</label>
                    <input name="email" type="text" class="span12" placeholder="Your email address" value="${_connected?.email}" required />
                    <label>Subject</label>
                    <input name="subject" type="text" class="span12" placeholder="Subject" required/>
                </div>
                <div class="span6">
                    <label>Message</label>
                    <textarea type="text/html" name="content" id="message" class="input-xlarge span12" rows="10" placeholder="Content" required></textarea>
                </div>

                <button type="submit" class="btn btn-u pull-right">Send</button>
            </div>
        </div>
    </div>
</form>
