<!--podification d'un poste.-->
<!--<div class="span12">-->
#{list items:_candidatures, as:'candidature'}
<div class="cachable-group">
    <div class="submenu">
        <span class="cachable-button btn-u">${candidature?.candidate?.fullName()}</span>
        <div class="cachable">
            #{editCandidatureTag candidature:candidature, poste:_poste, election:_election /}
        </div>
    </div>
</div>
#{/list}
<div class="cachable-group">
    <div class="submenu">
        <span class="cachable-button btn">Ajouter une candidature</span>
        <div class="cachable">
            #{editCandidatureTag poste:_poste, election:_election, users:_users, status:'new' /}
        </div>
    </div>
</div>
<!--</div>-->