<!--Le tag event
Il est utilisé dans toutes les pages affichant un évènement!-->
<div class="container-fluid span10">
    <div class="span12" style="margin-top: 30px; margin-bottom: -20px;">
        <ul id="pagination">
            #{if _caller.event.previous()}
            <li id="previous">
                #{if _as=='dendrite'}
                <a href="@{Dendrites.event(_caller.event.dendrite?.id, _caller.event.previous().id, _caller.event.previous().title())}">${_caller.event.previous().title}</a>
                #{/if}
                #{else}
                <a href="@{Events.event(_caller.event.previous().id, _caller.event.previous().title())}">${_caller.event.previous().title}</a>
                #{/else}
            </li>
            #{/if}
            #{if _caller.event.next()}
            <li id="next">
                #{if _as=='dendrite'}
                <a href="@{Dendrites.event(_caller.event.dendrite?.id, _caller.event.next().id, _caller.event.next().title())}">${_caller.event.next().title}</a>
                #{/if}
                #{else}
                <a href="@{Events.event(_caller.event.next().id, _caller.event.next().title())}">${_caller.event.next().title}</a>
                #{/else}
            </li>
            #{/if}
        </ul>
    </div>
    <div class="blog-page blog-item">
        #{if _caller.connected}
        <div class="row-fluid">
            #{if _caller.connected.contains('DELETE_EVENT') || _caller.event.isMine(_caller.connected)}
            <div class="span3">
                <a href="@{Events.deleteEvent(_caller.event?.id)}" class="btn btn-danger pull-right"
                   onClick="return(confirm('êtes vous sûr de vouloir supprimer cet evenement?\nCes commentaires aussi seront supprimés'));">Supprimer</a>
            </div>
            #{/if}
            #{if _caller.event?.isMine(_caller.connected)}
            <div class="span3">
                <a class="btn btn-u" href="@{Events.editEvent(_caller.event?.dendrite?.id, _caller.event?.id)}"> Modifier </a>
            </div>
            #{/if}
            <div class="span3">
                <a class="btn btn-u" href="@{Events.editEvent(_caller?.dendrite?.id)}">Nouvel évènement </a>   
            </div>
            <button id="subscribe-events-${_caller.event?.id}" class="btn btn-u pull-right" 
                    type="button"
                    #{if _caller.event?.isSubscribed(_caller?.connected)}
                    onclick="return subscribe('events', 'un', '${_caller.event?.id}');"
                    style="background: #FF0000;"
                    #{/if}
                    #{else}
                    onclick="return subscribe('events', '', '${_caller.event?.id}');"
                    style="background: #008800;"
                    #{/else}
                    >${_caller.event?.isSubscribed(_caller?.connected) ? 'Se désabonner' : 'S\'abonner'}</button>
            <div id="social" class="pull-left">
                <div class="fb-like" data-href="@@{Events.event(_caller.event?.id, _caller.event?.title())}"
                     data-send="false" data-layout="button_count" data-width="450"
                     data-show-faces="false">
                </div>
            </div>
        </div>
        #{/if}
        #{display event:_caller.event, as:'full', model:'event', invites:_caller.invites, 
        size:_caller.size, page:_caller.page, nbPagesMax:_caller.nbPagesMax, 
        nbPages:_caller.nbPages, connected:_caller.connected,
        comments:_caller?.comments, type:_caller?.type, 
        commentSize:_caller?.commentSize, maxSize:_caller?.maxSize, article:_caller?.article, commentPage:_caller?.commentPage /}
    </div>
</div>