<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<div class="itemdiv dialogdiv">
    <div class="user">
        <img alt="Alexa's Avatar" src="${_feedback?.author?.profileUrl()}">
    </div>

    <div class="body">

        <div class="name">
            #{if _feedback?.author}
            <a href="@{Users.user(_feedback?.author?.id)}">${_feedback?.author?.fullName()}</a>
            #{/if}
            #{else}
            <a href="#" onclick="return false;">${_feedback?.poster}</a>
            #{/else}
            <br/>
            <div class="span12">
                <span>Responsable: <a href="@{Users.user(_feedback?.responsable?.id)}">${_feedback?.responsable?.fullName()}</a></span>
                #{if _caller.connected?.isDev()}
                <a class="btn btn-u pull-right" href="@{Administration.feedback(_feedback?.id)}">Edit</a>
                #{/if}
            </div>
            <span>${_feedback?.subject}</span>
        </div>
        <div class="text">${_feedback?.content}</div>
        #{if _caller.connected?.isDev()}
        <form id="feedback-form">
            <div class="input">
                <span class="feedback-id">${_feedback?.id}</span>
                <label for="">Progression: <span></span></label>
                <input class="range" type="hidden" value="${_feedback?.progress}" name="progress"/>
            </div>
        </form>
        <div class="tools">
            <a title="Supprimer ce message" href="@{Administration.deleteFeedback(_feedback?.id)}" class="btn btn-minier btn-danger">
                <i class="icon-only icon-share-alt"></i>
            </a>
        </div>
        #{/if}
        #{else}
        <div class="input">
            <span class="feedback-id">-1</span>
            <label for="">Progression: <span></span></label>
            <input class="range" type="hidden" value="${_feedback?.progress}" name="progress"/>
        </div>
        #{/else}
        <div class="fb-comments" data-href="@@{Administration.feedback(_feedback?.id)}"></div>
    </div>
</div>