
<form id="form-search-${_as}" class="form-search-${_as}" method="post"
                  #{if _as=='admin'} action="@{Administration.search()}" #{/if} 
                  #{else} action="@{Annuaires.search()}" #{/else}>
    <input name="search.type" type="hidden" value="${_search?.type}" />
    #{if _page }
    <input name="page" type="hidden" value="1" />
    #{/if}
    <h4>Rechercher par nom ou par prénom ou bien par promotion. </h4><br>
    <label>Prénom:</label> 
    <input type="text" name="search.firstName" value="${_search?.firstName}"><br />

    <label>Nom:</label>
    <input type="text" name="search.lastName" value="${_search?.lastName}"><br>   

    <label>Promotion: de</label> <input type="number" name="search.promo_from" value="${_search?.promo_from}"> à 
    <input type="number" name="search.promo_to" value="${_search?.promo_to}"><br>
    <!--<input name="token" type="text" class="span6" placeholder="Search" />-->
    <button type="submit" class="btn-u">Search</button>
</form>