<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<form id="${_skill?.id ? 'form-skill' : '' }" class="${_skill?.id ? 'form-skill' : '' } well form-horizontal"  
      action="@{Cvs.updateSkill}" method="POST"
      accept-charset="UTF-8">
    <div class="ajaxable">
        <input type='hidden' value="${_cv?.id}" name="cv_id"/>
        <input type='hidden' value="cv" name='act'/>
        <input type='hidden' value="${_skill?.id}" name='skill.id'/>
        #{field 'skill.domain'}
        <div
            class="control-group">
            <label class="control-label" for="${field.id}">&{'Domaine : '}</label>
            <div class="controls">
                <input class="span6" id="${field.id}" type="text" name="${field.name}"
                       value="${_skill?.domain}" placeholder="&{'Domaine'}" required /> 
                <span class="help-inline">${field.error}</span>
            </div>
        </div>
        #{/field}
        #{field 'skill.comment'}
        <div
            class="control-group">
            <label class="control-label" for="skill.comment">Commentaire:</label>
            <div class="controls">
                <textarea class="span6" id="${field.id}" type="text" name="${field.name}" placeholder="Commentaire:">${_skill?.comment}</textarea> 
                <span class="help-inline">${field.error}</span>
            </div>
        </div>
        #{/field}

        <div class="form-actions">
            <input type="submit" value="Valider" class="btn btn-u" />
            #{if _skill?.id }
            <a class="btn btn-danger" href="@{Cvs.deleteSkill(_skill?.id, 'cv')}" onclick="return(confirm('Confirmer la suppression de cette compétence.'));">X</a>
            #{/if}
        </div>
    </div>
</form>