#{extends 'main.html' /} 
#{set title:'CPD : Cellule pour le développement' /}


<!--=== Slider ===-->
<div class="slider-inner margin-bottom-40" style="top:15px;">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>La Cellule Pour</i><br /> 
                <i>le Développement</i> <br/> <i>@CPD</i></h2>
            <p><i>L'Excellence au service du Mali</i></p>
            <!--<p><i>The mind is a beautiful thing!</i> <br /></p>-->

            <div class="da-img span4">
                <div class="span4">
                    <img src="@{'/public/images/index/d1.gif'}" />
                </div>
            </div>

        </div>

        <div class="da-slide">
            <h2><i>Créer des souvenirs ensemble</i> <br /> <i>Pour des années à venir</i> <br /> <i>@CPD </i></h2>
            <p><i>Un Site à l'image de ses utilisateurs!!</i> <br /> <i>Fait par les utilisateurs, pour les utilisateurs</i></p>
            <div class="da-img row-fluid span12">
                <div class="span3">
                    <img class="balloon" src="@{'/public/images/index/mini1.jpg'}" alt="pic" />
                </div>
                <div class="span3">
                    <img class="balloon" src="@{'/public/images/index/mini2.JPG'}" />
                </div>
                <!--<div class="row">-->
                <div class="span3">
                    <img class="balloon" src="@{'/public/images/index/mini3.JPG'}" />
                </div>

            </div>
        </div>

        <div class="da-slide">

            <h2><i>Des jeunes dynamiques</i> <br /> <i>Prêts à aider leur pays!!</i></h2>
            <p> <i>#CPD</i></p>
            <div class="da-img span6">
                <div class="span6">
                    <!--              <iframe src="http://player.vimeo.com/video/68140090" width="100%" 
                                      height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                    <img class="balloon" src="@{'/public/images/index/events.jpg'}" />
                </div>
            </div>
        </div>



        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>        
        </nav>
    </div>
    <!--/da-slider-->
</div>
<!--/slider-->
<!--=== End Slider ===-->


<div class="container-fluid">

    <div class="container">
        <div class="featurette">
            <img class="img-circle featurette-image pull-right" src="@{'/public/images/armoiries-maliennes.png'}">
            <h2 class="featurette-heading">Contribuer au développement <span class="muted" id="themecolor"> du Mali et de l'Afrique.</span></h2>
            <p class="lead">
                L’objectif à la création de l’association était d’oeuvrer à l’édification d’un Mali indépendant, prospère et rayonnant, en 
                contribuant à son développement éducatif et socio-économique, de faciliter l’intégration des jeunes boursiers maliens
            </p>
            <a href="@{Cellule.bureauWelcome}" class="btn btn-u">Lire »</a>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-left" src="@{'/public/images/activite.JPG'}">
            <h2 class="featurette-heading">Une communauté dynamique <span class="muted" id="themecolor"> et active.</span></h2>
            <p class="lead">
                la Cellule Pour 
                le Développement a pris aujourd’hui une dimension globale avec l’élargissement de son champ d’action. Elle s’investit aujourd’hui 
                dans des domaines tels que l’éducation, la promotion de la culture malienne
            </p>
            <a href="@{Users.membres}" class="btn btn-u">Lire »</a>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-right" src="@{'/public/images/talents.JPG'}">
            <h2 class="featurette-heading">Des talents <span class="muted" id="themecolor">au service du Mali et de l'Afrique.</span></h2>
            <p class="lead">La Cellule Pour le Développement est aujourd’hui un réservoir de jeunes talents au service de la nation malienne, 
                un ambassadeur de la culture et du savoir-faire malien</p>
            <a href="#" class="btn btn-u">Lire »</a>

        </div>
    </div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
     jQuery(document).ready(function($) {
        var sidebar = $('.m1');
        sidebar.addClass('fixed');
//        alert("blablabla");
//        $(window).scroll(function() {
//            var y = $(this).scrollTop();
//            var z = sidebar.offset().top;
//            if (y >= z) {
//                sidebar.addClass('fixed');
//            }
//            
//            else{
//                sidebar.addClass('fixed');
//            }
//        });

    });
</script>
