#{extends 'main.html' /}
#{set title:'Résultats de recherche' /}
#{subtitleTag as:'Recherche CPD' /}
<div class="offset2 container-fluid">
    <div class="row-fluid">    
        <div class="span8">
            <h2 id="pCenter">Résultats de recherche</h2>
            <div class="row-fluid blog-page blog-item">
                #{pagination page:(page < 1 ? 1:page), size:size, nbPages:nbPages, nbPagesMax:nbPagesMax /}
                #{if (users?.size() > 0)}
                <h2>Les membres</h2>
                #{list items:users, as:'user'}
                <div class="posts margin-bottom-20">
                    <dl class="dl-horizontal">
                        <dt><a href="@{Users.user(user?.id, user?.username())}">
                            <img #{if user?.photo == null}  
                                src="@{'/public/images/election.jpg'}" #{/if} 
                                #{else} src="${user?.profileUrl()}" #{/else} alt="Mon image" alt="" />
                        </a>
                        <dd>
                            <a id="themecolor" href="@{Users.user(user?.id, user?.username())}">${user?.fullName()}</a>
                            <hr style="margin-bottom: 0px;"/>
                            <span>${user?.dendrite?.named}</span> <span> ${user?.promotion} </span><br/>
                            <span>${user?.cv?.resume}</span>
                        </dd>
                    </dl>
                </div>
                #{/list}
                #{/if}
                #{if (articles?.size() > 0)}
                <h2>Les articles</h2>
                #{listArticlesTag articles:articles, connected:connected /}
                #{/if}
                #{if (events?.size() > 0)}
                <h2>Evènements</h2>
                #{eventsTag events:events, as:'dendrite'/}
                #{/if}
                #{if (announces?.size() > 0)}
                <h2>Annonces</h2>
                #{announcesTag announces:announces, as:'dendrite' /}
                #{/if}
                #{pagination page:(page < 1 ? 1:page), size:size, nbPages:nbPages, nbPagesMax:nbPagesMax /}
            </div>
        </div>

        <div class="span3">
            #{recents /}
        </div>
        <!--/span2-->
    </div>
</div>
