<!DOCTYPE html>

<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
    <head>
        <title>#{get 'title'/}</title>


    <html>
        <head>
            <meta charset="utf-8"/>
            <title>#{get 'title' /}</title>
            <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            #{get 'meta'/}

            <!-- Le Styles -->

            <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}"> 
            <!--<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/tuto.css'}">--> 
            <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.css'}"> 
            <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/responsive.css'}"> 


            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
                  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <link rel="shortcut icon" href="@{'/public/images/logos/favicon-green.png'}">
            #{get 'moreScripts' /}
            <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption'
                  rel='stylesheet' type='text/css'>   
        </head>

        

    <body onload="setScroll();">
        <!--Post variables to save x & y -->
        <input name="x" id="x" type="hidden" value="" />
        <input name="y" id="y" type="hidden" value="" />

        <!--=== Header ===-->
        <div class="header" id="top-fixed">               
            <div class="container"> 
                <!-- Logo -->       
                <div class="logo">                                             
                    <a href="@{Application.index}"><img id="logo-header" src="@{'/public/images/logos/logo-green-empty-small.png'}" alt="Logo"></a>
                </div><!-- /logo -->        

                <!-- Menu -->       
                <div class="navbar">                                
                    <div class="navbar-inner">                                  
                        <a class="btn btn-navbar span1" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a><!-- /nav-collapse -->                                  
                        <div class="row nav-collapse">
                            <ul class="nav">
                                <li class="${request?.action == 'Application.index' ? 'active' : ''}">
                                    <a href="@{Application.index}">Accueil</a>
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle"
                                       data-toggle="dropdown" href="#"> La Cellule <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu span3" style="margin-left: 0px;">
                                        <li class="${request?.action == 'Cellule.bureauWelcome' ? 'active' : ''}">
                                            <a href="@{Cellule.bureauWelcome()}">Accueil</a>
                                        </li>
                                        #{if connected}
                                        <li><a href='@{Cellule.listElection()}'>Elections</a></li>
                                        <li class="${request?.action == 'Articles.articles' ? 'active' : ''}">
                                            <a href="@{Articles.articles()}">Articles</a>
                                        </li>
                                        <li class="${request?.action == 'Events.events' ? 'active' : ''}">
                                            <a href="@{Events.events(controllers.Cellule.dendriteId(),1)}"> Evènements</a>                                           
                                        </li>
                                        <li class="${request?.action == '' ? 'active' : ''}">
                                            <a href="@{Announces.announces()}"> Annonces</a>
                                        </li>
                                        <!--<li><a href='#'>Forum</a></li>-->
                                        <!--                                        <li><a href="@{Articles.editArticle}">Nouvel article</a></li>-->
                                        <li><a href="@{Cellule.payment}">Cotiser/Faire Don</a></li>
                                        #{/if}
                                    </ul>
                                </li>

                                <li class="${request?.action == 'Dendrites.dendrites' ? 'active' : ''}">
                                    <a href="@{Dendrites.dendrites}">Dendrites</a>
                                </li>

                                <li class="${request?.action == 'Annuaires.annuaireWelcome' ? 'active' : ''}">
                                    <a href="@{Annuaires.annuaireWelcome()}">Annuaires</a>
                                </li>

                                <!--                                <li>
                                                                    <a href="@{Minicode.welcome()}">MiniCode</a>
                                                                </li>-->

                                <!--                                <li>
                                                                    <a href="@{Entreprises.welcome()}">Fereba</a>
                                                                </li>-->

                                <!--                                <li class="${request?.action == 'Entreprises.welcome' ? 'active' : ''}">
                                                                    <a href="@{Entreprises.welcome()}">Entreprises</a>
                                                                </li>-->

                                #{if connected && connected.contains('ACCESS_ADMIN')}
                                <li class="${request?.action == 'Administration.admin' ? 'active' : ''}">
                                    <a href="@{Administration.admin}">Administration</a>
                                </li>
                                #{/if}
                            </ul>
                            <ul class="nav">
                                #{ifnot connected} 
                                <li
                                    class="${request?.action == 'Users.signup' ? 'active' : ''}"><a
                                        href="@{Users.signup}">&{'S\'inscrire'}</a>
                                </li>
                                #{/ifnot} 
                                <li class="divider" id="over-banner"></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle"
                                       data-toggle="dropdown" href="#"> 
                                        #{if connected} ${connected.fullName()} #{/if} 
                                        #{else} Se connecter #{/else} <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu span3" style="margin-left: 0px;">
                                        #{if connected}
                                        <li><a href="@{Users.user(connected.id)}"><i class="icon-user"></i> Mon profil</a></li>
                                        <li><a href="@{Users.editUser(connected?.id, 'info')}"><i class="icon-wrench"></i> Paramètres du compte</a></li>
                                        <li><a href="@{Dendrites.dendrite(connected?.dendrite?.id)}"><i class="icon-home"></i> Ma dendrite</a></li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="@{Users.logout()}"><i
                                                    class="icon-off"></i> &{'Déconnexion'}</a>
                                        </li>
                                        #{/if} #{else}
                                        <!--<div class="input-append">-->
                                        <form class="form-inline span3" method='POST' action='@{Users.loggedIn}'>
                                            <input style="margin-left: -22px; margin-bottom: 10px; width: 90%;" type="email" id="email" name="email" value="${flash.email}" placeholder="Email" />
                                            <input style="margin-left: -22px; width: 90%;" type="password" id="password" name="password" placeholder="Password">
                                            <!--<div class="row span12">-->
                                            <button style="margin-left: -22px;" type="submit" class="btn btn-u btn-small" >
                                                <i class="icon-user icon-white"></i> Connect
                                            </button>
                                            <a href="@{Users.password()}">Mot de passe oublié?</a>
                                            <!--</div>-->
                                        </form>
                                        <!--</div>-->
                                        #{/else}
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a class="search search-nav"><i class="icon-search search-btn"></i></a></li>
                            </ul>

                            <div class="search-open search-open-inner">
                                <div class="input-append">
                                    <form>
                                        <input type="text" class="span3" placeholder="Search" />
                                        <button type="submit" class="btn-u">Search</button>
                                    </form>
                                </div>
                            </div>

                        </div><!-- /nav-collapse -->                                
                    </div><!-- /navbar-inner -->
                </div><!-- /navbar -->                          
            </div><!-- /container -->               
        </div><!--/header -->      
        <!--=== End Header ===-->


        <!--=== Content Part ===-->
        <div class="container">
            #{if flash.success}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>${flash.success}</strong>
            </div>
            #{/if} #{if flash.error}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>

                <strong>${flash.error}</strong>

            </div>
            #{/if}
            <div id="ajax-loader" class="ajax-loader" style="display: none; position: fixed; bottom: 5px; right: 5px;">
                <img src="@{'/public/images/ajax-loader-circle.gif'}" alt=""/>
            </div>
        </div>

        #{doLayout /}
        <!-- End Content Part -->
        <!--Feedback-->
        <div class="container-fluid span12">
            <div id="helpbar" class="hidden-phone">
                <a class="btn btn-u" role="button" href="#contactModal"
                   data-toggle="modal"><strong>Feedback</strong></a>
            </div>
            <!-- Modals  -->
            <div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                #{contactTag connected:connected /}
            </div>
        </div>
        <!--Feedback end-->

        <!--=== Footer ===-->
        <div class="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="span4">
                        <!-- About -->
                        <div class="headline"><h3>Information</h3></div>	
                        <p class="margin-bottom-25">
                            La CPD est une association a but non lucratif. Son seul objectif est de contribuer autant que peu au developpement
                            du Mali.
                        </p>	

                        <!-- Monthly Newsletter -->
                        <div class="headline"><h3>Newsletter Fereba</h3></div>	
                        <p>Inscriver vous afin de recevoir ou d'ecrire des articles dans le journal de la CPD Fereba.</p>
                        <form class="form-inline">
                            <div class="input-append">
                                <input type="text" placeholder="Email" value="${connected?.email}" class="input-medium">
                                <button class="btn-u">Souscrire</button>
                            </div>
                        </form>							
                    </div><!--/span4-->	

                    <div class="span4">
                        <div class="posts">
                            <div class="headline"><h3>Informations</h3></div>
                            <dl class="dl-horizontal">
                                <dt><a href="@{Cellule.payment}"><img src="@{'/public/images/logos/paypal.gif'}"" alt="" /></a></dt>
                                <dd>
                                    <p><a href="@{Cellule.payment}">Cotisation annuelle pour la CPD</a></p> 
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt><a href="#"><img src="@{'/public/images/index/ujf.jpg'}"" alt="" /></a></dt>
                                <dd>
                                    <p><a href="#">Université d'Accueil des etudiants maliens à valence et à grenoble.</a></p> 
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt><a href="#"><img src="@{'/public/images/index/imag.jpg'}" alt="" /></a></dt>
                                <dd>
                                    <p><a href="#">La fédération IMAG n’existe plus depuis le 1 janvier 2007</a></p> 
                                </dd>
                        </div>
                    </div><!--/span4-->

                    <div class="span4">
                        <!-- Monthly Newsletter -->
                        <div class="headline"><h3>Contact Us</h3></div>	
                        <address>
                            25, Avenue de l'Espoir, 
                            La Jeune Malienne <br />
                            Phone: 04 44 44 44 44 <br />
                            Fax: 04 44 44 44 44 <br />
                            Email: <a href="mailto:cpd@cpd-mali.com">Nous contacter</a>
                        </address>

                        <!-- Stay Connected -->
                        <div class="headline"><h3>Stay Connected</h3></div>	
                        <ul class="social-icons">
                            <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                            <li><a href="https://www.facebook.com/" data-original-title="Facebook" class="social_facebook"></a></li>
                            <li><a href="https://twitter.com/" data-original-title="Twitter" class="social_twitter"></a></li>
                            <li><a href="https://plus.google.com/" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                            <li><a href="https://pinterest.com/" data-original-title="Pinterest" class="social_pintrest"></a></li>
                            <li><a href="http://fr.linkedin.com/" data-original-title="Linkedin" class="social_linkedin"></a></li>
                            <li><a href="https://vimeo.com/" data-original-title="Vimeo" class="social_vimeo"></a></li>
                        </ul>
                    </div><!--/span4-->
                </div><!--/row-fluid-->	
            </div><!--/container-->	
        </div><!--/footer-->	
        <!--=== End Footer ===-->

        <!--=== Copyright ===-->
        <div class="copyright">
            <div class="container">
                <div class="row-fluid">
                    <div class="span8" align="center">						
                        <p>2013 &copy; CPD. ALL Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
                    </div>
                    <div class="span4">	
                        <a href="@{Application.index}"><img id="logo-footer" src="@{'/public/images/logos/logo-green-empty-small.png'}" class="pull-right" alt="" /></a>

                    </div>
                </div><!--/row-fluid-->
            </div><!--/container-->	
        </div><!--/copyright-->	
        <!--=== End Copyright ===-->



            <!-- Le javascript
        ================================================== -->
            <script type="text/javascript" src="@{'/public/unify/assets/js/jquery-1.8.2.min.js'}"></script>
            <script type="text/javascript" src="@{'/public/javascripts/jcode.min.js'}"></script>
            <script type="text/javascript" src="@{'/public/javascripts/jcode-ajax.js'}"></script>
            <script type="text/javascript" src="@{'/public/javascripts/jquery.tools.min.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-alert.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-collapse.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-modal.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-tooltip.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-tab.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-scrollspy.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-affix.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-carousel.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-transition.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap/js/bootstrap-dropdown.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap-datepicker/js/bootstrap-datepicker.js'}"></script>
            <script type="text/javascript" src="@{'/public/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js'}"></script>

            <script type='text/javascript'>
                $(document).ready(function() {
                    $('#naissance').datepicker({
                        format: 'dd/mm/yyyy'
                    });
                    $(".alert").alert();
                    if ($("[rel=tooltip]").length) {
                        $("[rel=tooltip]").tooltip();
                    }
                    // window.setTimeout(function() { $(".alert").slideUp();}, 5000);
                    $("#searchbtn").on('click', function() {
                        $('#searchForm').submit();
                    });
                });

            </script>
        </body>
    </html>
